<div class="sidebar">
		<h4>$ whoami</h4>
		<div class="whoami">
				<img class="squirtle" src="/img/squirtle.png" alt="Squirtle sprite"/>
				<span>
						Óliver, also going by Eskuero.
						<br />
						I like infosec, scripting, manga and football.
				</span>
		</div>
		<h4>$ ip link</h4>
		<p class="listed">🐙 <a href="https://github.com/Eskuero" target="_blank">eskuero@github.com</a></p>
		<p class="listed">📧 <a href="mailto:3skuero@gmail.com">3skuero@gmail.com</a></p>
		<p class="listed">🔒 <a href="/other/publickey.asc" download>964255176B1EAF1C</a></p>
		<p class="listed">🐦 <a href="https://twitter.com/3skuero" target="_blank">3skuero@twitter.com</a></p>
		<p class="listed">🐘 <a rel="me" href="https://niu.moe/@eskuero">eskuero@niu.moe</a></p>
		<h4>$ more</h4>
		<p class="listed">✏️ <a href="/">Blog</a></p>
		<p class="listed">👔 <a href="/projects">Personal projects</a></p>
		<p class="listed">📰 <a href="/index.xml" target="_blank">RSS Feed</a></p>
</div>
